/*******************************************************************************
 * Text (Common)                                                               *
 ******************************************************************************/

.text {
    -fx-font-smoothing-type: gray;
}

.root {
    -fx-font-family: 'Manrope Medium';
    -fx-font-size: 14px;
}

/*******************************************************************************
 * Background & Border Radius (Common)                                         *
 ******************************************************************************/

.button,
.text-field,
.password-field,
.context-menu,
.context-menu .menu-item,
.tooltip {
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}

/*******************************************************************************
 * Container                                                                   *
 ******************************************************************************/

.container-border-top {
    -fx-border-width: 1.2 0px 0px 0px;
}

.container-border-left {
    -fx-border-width: 0px 0px 0px 1.2;
}

.scroll-pane {
    -fx-padding: 0px;
    -fx-background-insets: 0px;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

.scroll-pane:focused {
    -fx-background-insets: 0px;
}

.scroll-pane .corner {
    -fx-background-insets: 0px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:vertical .track,
.scroll-pane .scroll-bar:horizontal .track,
.scroll-pane .scroll-bar:vertical .track-background,
.scroll-pane .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

/*******************************************************************************
 * Table View                                                                  *
 ******************************************************************************/

.table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0px;
    -fx-padding: 0;
}

.table-column {
    -fx-alignment: center_left;
}

.table-view .column-header-background .label {
    -fx-font-family: 'Manrope ExtraBold';
    -fx-font-size: 1.2em;
    -fx-alignment: center_left;
    -fx-padding: 0 0 0 8;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 10;
    -fx-font-size: 1.1em;
}

.table-row-cell:odd, .table-row-cell:even {
    -fx-background-insets: 0px, 0px 0px 1px 0px;
    -fx-cell-size: 3.5em;
    -fx-padding: 0;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:horizontal {
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}

.table-view .virtual-flow .scroll-bar:horizontal .increment-button,
.table-view .virtual-flow .scroll-bar:horizontal .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

/*******************************************************************************
 * Dialog & Dialog Pane                                                        *
 ******************************************************************************/

.dialog-icon-holder {
    -fx-font-size: 4em;
}

.dialog-pane .button:default {
    -fx-font-family: 'Manrope ExtraBold';
}

/*******************************************************************************
 * Icon                                                                        *
 ******************************************************************************/

.icon-information {
    -fx-icon-code: las-info-circle;
}

.icon-warning {
    -fx-icon-code: las-exclamation-triangle;
}

.icon-confirmation {
    -fx-icon-code: las-question-circle;
}

.icon-error {
    -fx-icon-code: las-exclamation-circle;
}

/*******************************************************************************
 * Button                                                                      *
 ******************************************************************************/

.button {
    -fx-background-insets: 2px;
    -fx-border-width: 3px;
}

.circle {
    -fx-background-radius: 10em;
    -fx-border-radius: 10em;
    -fx-border-width: 8px;
    -fx-min-width: 10em;
    -fx-min-height: 10em;
    -fx-max-width: 10em;
    -fx-max-height: 10em;
}

.dot {
    -fx-background-radius: 10em;
    -fx-border-radius: 10em;
    -fx-border-width: 4px;
    -fx-min-width: 3em;
    -fx-min-height: 3em;
    -fx-max-width: 3em;
    -fx-max-height: 3em;
}

.key .text {
    -fx-font-family: 'Manrope ExtraBold';
    -fx-font-size: 5em;
}

.button-sidebar {
    -fx-min-width: 8em;
    -fx-min-height: 8em;
    -fx-max-width: 8em;
    -fx-max-height: 8em;
    -fx-padding: 0;
}

/*******************************************************************************
 * Field                                                                       *
 ******************************************************************************/

.text-field,
.password-field {
    -fx-min-height: 3em;
    -fx-pref-height: 3em;
}