/*******************************************************************************
 *                                                                             *
 * Background                                                                  *
 *                                                                             *
 ******************************************************************************/

#background {
    -fx-alignment: center;
}

/*******************************************************************************
 *                                                                             *
 * Prompt Text                                                                 *
 *                                                                             *
 ******************************************************************************/

#promptTextFlow {
    -fx-text-alignment: center;
}

#promptText {
    -fx-font-family: 'Manrope Bold';
    -fx-text-alignment: center;
    -fx-font-size: 2em;
}

/*******************************************************************************
 *                                                                             *
 * Form                                                                        *
 *                                                                             *
 ******************************************************************************/

#form {
    -fx-alignment: center;
}

/*******************************************************************************
 *                                                                             *
 * Dot Box                                                                     *
 *                                                                             *
 ******************************************************************************/

#dotBox {
    -fx-alignment: center;
}

/*******************************************************************************
 *                                                                             *
 * Numpad                                                                      *
 *                                                                             *
 ******************************************************************************/

#numpad {
    -fx-alignment: center;
}

/*******************************************************************************
 *                                                                             *
 * Cancel Icon                                                                 *
 *                                                                             *
 ******************************************************************************/

#cancelIconHolder {
    -fx-font-size: 4em;
    -fx-content-display: graphic_only;
    -fx-padding: 0;
}

#cancelIcon {
    /*Comment -fx-icon-code to open auth.fxml in SceneBuilder*/
    -fx-icon-code: las-ban;
}

/*******************************************************************************
 *                                                                             *
 * Clear Icon                                                                  *
 *                                                                             *
 ******************************************************************************/

#clearIconHolder {
    -fx-font-size: 4em;
    -fx-content-display: graphic_only;
    -fx-padding: 0;
}

#clearIcon {
    /*Comment -fx-icon-code to open auth.fxml in SceneBuilder*/
    -fx-icon-code: las-eraser;
}