/*******************************************************************************
 * Title Label                                                                 *
 ******************************************************************************/

#titleLabel {
    -fx-font-family: 'Manrope ExtraBold';
    -fx-font-size: 2em;
}

/*******************************************************************************
 * Products Placeholder Label                                                  *
 ******************************************************************************/

#productsPlaceholderLabel {
    -fx-font-family: 'Manrope Bold';
}

/*******************************************************************************
 * Checkout                                                                    *
 ******************************************************************************/

#checkout {
    -fx-alignment: top_center;
}

/*******************************************************************************
 * Summary Label                                                               *
 ******************************************************************************/

#summaryLabel {
    -fx-font-family: 'Manrope ExtraBold';
    -fx-font-size: 2em;
}

/*******************************************************************************
 * Total Products                                                              *
 ******************************************************************************/

#totalProductsLabel, #totalProducts {
    -fx-font-family: 'Manrope Bold';
    -fx-font-size: 1.4em;
}

/*******************************************************************************
 * Total Cost                                                                  *
 ******************************************************************************/

#totalCostLabel, #totalCost {
    -fx-font-family: 'Manrope Bold';
    -fx-font-size: 1.4em;
}

/*******************************************************************************
 * Scan                                                                        *
 ******************************************************************************/

#scan {
    -fx-min-height: 4em;
    -fx-pref-height: 4em;
    -fx-font-family: 'Manrope Bold';
    -fx-font-size: 2em;
}

#scanIconHolder {
    -fx-font-size: 1.5em;
    -fx-content-display: graphic_only;
    -fx-padding: 0;
}

#scanIcon {
    /*Comment -fx-icon-code to open basket.fxml in SceneBuilder*/
    -fx-icon-code: las-qrcode;
}

/*******************************************************************************
 * Purchase                                                                    *
 ******************************************************************************/

#purchase {
    -fx-min-height: 4em;
    -fx-pref-height: 4em;
    -fx-font-family: 'Manrope Bold';
    -fx-font-size: 2em;
}

#purchaseIconHolder {
    -fx-font-size: 1.5em;
    -fx-content-display: graphic_only;
    -fx-padding: 0;
}

#purchaseIcon {
    /*Comment -fx-icon-code to open basket.fxml in SceneBuilder*/
    -fx-icon-code: las-money-bill-wave;
}